body{
	background-color:#fff6e3;
}
/*-----navbar styling-----*/
nav{
	margin-top: 20px;
	border-radius: 10px;
	width: 95vw;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	padding: -10px;
}

.nav-link{
	font-size: 1.1em;
}
#nav-button{
	width: 120px;
	height: 45px;
	font-size: 1.1em;
}
.navbar-toggler{
	border: none;
}
/* DELETE IS HERE */
	.delete {
		padding: 0px;
		margin-top: 2px;
		margin-bottom: 0;
		color: black;
		font-weight: bolder;
		cursor: pointer;
	}

@media only screen and (min-width: 1307px) {
	.nav-link{
		margin-right: 5px;
	}
	#nav-button{
		margin-left:10px;
	}
	#create-window{
		width: 85vw;
		height: 80vh;
		margin-left: 7.5vw;
		margin-right: 7.5vw;
		border-radius: 25px;
	}
	#section1{
		float: left;
		width:67.5%;
		background-color: white;
		height:100%;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	#section2{
		float:right;
		width:32.5%;
		background-color: white;
		height:100%;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		display: inline-flex;
		align-items: center;
	}
	#create-title{
		margin-top: 30px;
	}
	#create-nav{
		width:60%;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 20px;
		font-size: 1.3em;
	}
	#create-nav1{
		cursor: pointer;
		float:left;
		color: black;
		background-color: #e4e4e4;
		border-radius: 10px;
		margin-left:4%;
		margin-right: 2%;
		width:44%;
		height: 45px;
	}
	#create-nav2{
		cursor: pointer;
		float:right;
		color: black;
		background-color: #e4e4e4;
		border-radius: 10px;
		margin-left: 2%;
		margin-right:4%;
		width:44%;
		height: 45px;
	}
	#create-nav1:active, #create-nav2:active{
		box-shadow: 0px 3px 5px gray;
	}
	#create-nav1 p, #create-nav2 p{
		margin-top: 5.5px;
	}
	#linksPart{
		margin-top: 85px;
		display: block;
		height: 58%;
		background-color: white;
		width: 75%;
		margin-left: 12.5%;
		margin-right: 12.5%;
	}
	#designPart{
		margin-top: 85px;
		display: none;
		max-height: 58%;
		width: 75%;
		margin-left: 12.5%;
		margin-right: 12.5%;
		overflow-x: scroll;
	}
	#phone-preview{
		width:85%;
		margin-left: 7.5%;
		margin-right: 7.5%;
		height: 90%;
		background-image: linear-gradient(yellow, red);
		border-radius: 45px;
		border-style: solid;
		border-color: #c1c1c1;
		border-width: 17.5px;
		overflow-x: none;
		overflow-y: scroll;
		align-content: center;
		text-align: center;
	}
	#phone-preview img{
		margin-top: 20px;
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}
	.post_card:link, .post_card:visited,.post_card:active{
		color: black;
		align-content: center;
		width:200px;
		background-color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
		margin:auto;
		border-radius: 10px;
		text-decoration: none;
	}
	.post_card:hover{
		color: white;
		background-color: gray;
	}
	#profilepicture img{
		width: 200px;
	}
	#pfp-btn{
		margin-top:
	}
	#grad1, #grad2, #grad3, #grad4, #grad5{
		position: inline;
		border-radius: 10px;
		width: 120px;
		height: 55px;

	}
	#grad1:hover, #grad2:hover, #grad3:hover, #grad4:hover, #grad5:hover{
		cursor: pointer;
	}
	#grad1, #grad2, #grad3{
		margin-right: 20px;
	}
	#custom-inp1, #custom-inp2{
		width: 100px;
		display: inline-block;
		float: left;
	}
	#custom-inp1, #custom-inp2{
		margin-right: 10px;
	}
}

@media only screen and (min-width: 1306px) {
	.navbar-nav{
		font-size: 1.2em;
	}
	#nav-button{
		width: 150px;
		font-size: 1em;
		margin-top: 5px;
		margin-bottom: 15px;
	}
	#create-window{
		width: 85vw;
		height: 80vh;
		margin-left: 7.5vw;
		margin-right: 7.5vw;
		border-radius: 25px;
	}
	#section1{
		float: left;
		width:67.5%;
		background-color: white;
		height:100%;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	#section2{
		float:right;
		width:32.5%;
		background-color: white;
		height:100%;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		display: inline-flex;
		align-items: center;
	}
	#create-title{
		margin-top: 30px;
	}
	#create-nav{
		width:60%;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 20px;
		font-size: 1.3em;
	}
	#create-nav1{
		cursor: pointer;
		float:left;
		color: black;
		background-color: #e4e4e4;
		border-radius: 10px;
		margin-left:4%;
		margin-right: 2%;
		width:44%;
		height: 45px;
	}
	#create-nav2{
		cursor: pointer;
		float:right;
		color: black;
		background-color: #e4e4e4;
		border-radius: 10px;
		margin-left: 2%;
		margin-right:4%;
		width:44%;
		height: 45px;
	}
	#create-nav1:active, #create-nav2:active{
		box-shadow: 0px 3px 5px gray;
	}
	#create-nav1 p, #create-nav2 p{
		margin-top: 5.5px;
	}
	#linksPart{
		margin-top: 85px;
		display: block;
		height: 58%;
		background-color: white;
		width: 75%;
		margin-left: 12.5%;
		margin-right: 12.5%;
	}
	#designPart{
		margin-top: 85px;
		display: none;
		max-height: 58%;
		width: 75%;
		margin-left: 12.5%;
		margin-right: 12.5%;
		overflow-x: scroll;
	}
	#phone-preview{
		width:85%;
		margin-left: 7.5%;
		margin-right: 7.5%;
		height: 90%;
		background-image: linear-gradient(yellow, red);
		border-radius: 45px;
		border-style: solid;
		border-color: #c1c1c1;
		border-width: 17.5px;
		overflow-x: none;
		overflow-y: scroll;
		align-content: center;
		text-align: center;
	}
	#phone-preview img{
		margin-top: 20px;
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}
	.post_card:link, .post_card:visited,.post_card:active{
		color: black;
		align-content: center;
		width:200px;
		background-color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
		margin:auto;
		border-radius: 10px;
		text-decoration: none;
	}
	.post_card:hover{
		color: white;
		background-color: gray;
	}
	#profilepicture img{
		width: 200px;
	}
	#pfp-btn{
		margin-top:
	}
	#grad1, #grad2, #grad3, #grad4, #grad5{
		position: inline;
		border-radius: 10px;
		width: 120px;
		height: 55px;

	}
	#grad1:hover, #grad2:hover, #grad3:hover, #grad4:hover, #grad5:hover{
		cursor: pointer;
	}
	#grad1, #grad2, #grad3{
		margin-right: 20px;
	}
	#custom-inp1, #custom-inp2{
		width: 100px;
		display: inline-block;
		float: left;
	}
	#custom-inp1, #custom-inp2{
		margin-right: 10px;
	}
}

@media only screen and (max-width: 1200px) {
	#create-window{
		width: 85vw;
		height: 80vh;
		margin-left: 7.5vw;
		margin-right: 7.5vw;
		border-radius: 25px;
	}
	#section1{

		width:67.5%;
		background-color: white;
		height:100%;
		border-radius: 25px;
	}
	#section2{
		display: block;
	}
	#create-title{
		margin-top: 30px;
	}
	#create-nav{
		width:60%;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 20px;
		font-size: 1.3em;
	}
	#create-nav1{
		cursor: pointer;
		float:left;
		color: black;
		background-color: #e4e4e4;
		border-radius: 10px;
		margin-left:4%;
		margin-right: 2%;
		width:44%;
		height: 45px;
	}
	#create-nav2{
		cursor: pointer;
		float:right;
		color: black;
		background-color: #e4e4e4;
		border-radius: 10px;
		margin-left: 2%;
		margin-right:4%;
		width:44%;
		height: 45px;
	}
	#create-nav1:active, #create-nav2:active{
		box-shadow: 0px 3px 5px gray;
	}
	#create-nav1 p, #create-nav2 p{
		margin-top: 5.5px;
	}
	#linksPart{
		margin-top: 85px;
		display: block;
		height: 58%;
		background-color: white;
		width: 75%;
		margin-left: 12.5%;
		margin-right: 12.5%;
	}
	#designPart{
		margin-top: 85px;
		display: none;
		max-height: 58%;
		width: 75%;
		margin-left: 12.5%;
		margin-right: 12.5%;
		overflow-x: scroll;
	}
	#phone-preview{
		width:85%;
		margin-left: 7.5%;
		margin-right: 7.5%;
		height: 90%;
		background-image: linear-gradient(yellow, red);
		border-radius: 45px;
		border-style: solid;
		border-color: #c1c1c1;
		border-width: 17.5px;
		overflow-x: none;
		overflow-y: scroll;
		align-content: center;
		text-align: center;
	}
	#phone-preview img{
		margin-top: 20px;
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}
	.post_card:link, .post_card:visited,.post_card:active{
		color: black;
		align-content: center;
		width:200px;
		background-color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
		margin:auto;
		border-radius: 10px;
		text-decoration: none;
	}
	.post_card:hover{
		color: white;
		background-color: gray;
	}
	#profilepicture img{
		width: 200px;
	}
	#pfp-btn{
		margin-top:
	}
	#grad1, #grad2, #grad3, #grad4, #grad5{
		position: inline;
		border-radius: 10px;
		width: 120px;
		height: 55px;

	}
	#grad1:hover, #grad2:hover, #grad3:hover, #grad4:hover, #grad5:hover{
		cursor: pointer;
	}
	#grad1, #grad2, #grad3{
		margin-right: 20px;
	}
	#custom-inp1, #custom-inp2{
		width: 100px;
		display: inline-block;
		float: left;
	}
	#custom-inp1, #custom-inp2{
		margin-right: 10px;
	}

}
/*------------------------*/
